name: Release
on:
  push:
    branches:
    - main
    tags:
    - "v*"

jobs:
  release:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
        submodules: true
    - uses: coursier/cache-action@v7.0
      with:
        extraFiles: "[\".github/scripts/*\", \".github/workflows/ci.yml\", \"*.sh\"]"
        extraKey: "release"
    - uses: coursier/setup-action@v1.3
      with:
        jvm: 8
    - run: .github/scripts/gpg-setup.sh
      env:
        PGP_SECRET: ${{ secrets.PUBLISH_SECRET_KEY }}
    - run: ./mill -i publishSonatype __.publishArtifacts
      shell: bash
      env:
        PGP_PASSPHRASE: ${{ secrets.PUBLISH_SECRET_KEY_PASSWORD }}
        SONATYPE_PASSWORD: ${{ secrets.PUBLISH_PASSWORD }}
        SONATYPE_USERNAME: ${{ secrets.PUBLISH_USER }}
